@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.dashboard
{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 2490px;
    background: rgba(250, 250, 250, 1);

    display: flex;
    flex-direction: row;
}
.dashboard_left
{background: rgba(255, 255, 255, 1);

    width:260px;
height:2490px;


}
.dashboard_right
{
    display: flex;
    flex-direction: column;
    padding-left: 26px;padding-right: 26px;
}
.dashboard_right_top
{
    width: 1,126px;
height: 62px;
margin-top: 8px;



}
.block1
{
    width: 646px;
height: 199px;
display: flex;
flex-direction: row;
gap: 52px;

}
.block2

{
    width: 454px;
height: 199px;
display: flex;
flex-direction: row;
gap: 45px;

}
.dashboard_block
{
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 24px 32px 24px 24px;
}
.dashboard_main
{
    display: flex;
    flex-direction: column;
}
.div_block1

{
    display: flex;
    flex-direction:row;
    gap: 26px;
    margin-top: 24px;
}

.block3
{
    width: 358px;
height: 199px;
display: flex;
flex-direction: row;
gap: 21px;
}
.block4
{
    width: 646px;
height: 476px;


}
.block5
{
    width: 454px;
    height: 476px;
  
    

}

.block6
{
    width: 358px;
    height:484px;

    
  
}
.block7
{
    width: 742px;
height: 484px;


}
.block8
{
    width: 742px;
height:466px;

}
.block9
{
    width: 358px;
height: 466px;

}
.block10
{
    width:358px;
    height: 420px;
   
    
}
.block11
{
    width: 742px;
height: 420px;


}
.block_left_inner p
{
    font-family: Public Sans;
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.02em;

}
.days
{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
   color: rgba(139, 144, 154, 1);
}
.dashboard_left
{
    display: flex;
    flex-direction: column;
    padding: 20px 14px 0px 14px;
}
.dashboard_left p
{
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
margin-left: 4px;
}
.dashboard_left h3
{

    font-family: Public Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(139, 144, 154, 1);
margin-top: 35px;
margin-left: 16px;
}
.dashboard_menu
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap:8px;
}
.dashboard_menu span
{
 
font-family: Public Sans;
font-size: 15px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: rgba(139, 144, 154, 1);

}
.menu_select
{
    width: 232px;
height: 40px;
padding: 9px 16px 9px 16px;
display: flex;
flex-direction: row;
align-content: center;
justify-content: start;
gap: 8px;
}
.grey
{
    background: rgba(243, 244, 248, 1);

}
.block_left_inner_bottom
{
    margin-top: 30px;
    display: flex;

}
.big_black
{
font-family: Public Sans;
font-size: 32px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}
.low_blue
{
    font-family: Public Sans;
font-size: 18px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(15, 183, 255, 1);
margin-left: 12px;
}
.block_left_inner_bottom_bottom

{
    gap: 8px;
    margin-top: 16.5px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.low_green
{
    font-family: Public Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(30, 181, 100, 1);

}
.block_right_inner
{
    display: flex;
    flex-direction: column;
}
.graph1
{
    width: 360px;
height: 114px;

}
.salescost span
{
    font-family: Public Sans;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: -0.02em;
text-align: left;

}
.salescost
{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.week
{
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Public Sans;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}

.graph2
{
    width: 221px;
    height: 105.5px;
 
    

}
.graph3
{
    width: 155px;
height: 75.95px;

    

}
.block3 {
    gap: 3px;
}

.DA{
    width: 161px;
    height: 26px;
   
}
.low_red
{
    font-family: Public Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;

color: rgba(208, 38, 38, 1);

}
.block4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block4_top span
{
    font-family: Public Sans;
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}
.block4_top p
{
    font-family: Public Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(139, 144, 154, 1);

}
.block4_top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:center;
    align-items:center;
}
.block4_top img
{
   width: 24px;
   height: 24px;
}
.block4_bottom
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 46px;
}
.block4_bottom_menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.numberinfo
{
    font-family: Public Sans;
font-size: 24px;
font-weight: 700;
line-height: 22px;
text-align: left;
color: rgba(35, 39, 46, 1);

}
.nameinfo

{
    font-family: Public Sans;
font-size: 13px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(139, 144, 154, 1);

}
.info1
{
    border-bottom: 1px solid rgba(233, 231, 253, 1);

    min-width: 100px;
height: 78px;
padding: 15px 8px 15px 8px;
}
.info1_border
{
    border-bottom: 3px solid rgba(15, 96, 255, 1)
}
.block5_top p{
    font-family: Public Sans;
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}
.cost
{
    font-family: Public Sans;
font-size: 32px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}
.user_per
{
    font-family: Public Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(139, 144, 154, 1);

}
.block5_top
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content:center;
gap: 8px;
}
.block5_bottom_top
{font-family: Public Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
   color: rgba(35, 39, 46, 1);
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 15px;
    }
    .minicost
    {

font-family: Public Sans;
font-size: 15px;
font-weight: 600;
line-height: 21px;
text-align: left;
color: rgba(75, 70, 92, 1);

    }
    .country_name
    {

font-family: Public Sans;
font-size: 13px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: rgba(139, 144, 154, 1);

    }
    .country
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content:center;
        align-items:center;
    }
    .spherecountry
    {
        width: 34px;
        height: 34px;
    }
    .procent
    {
      
font-family: Public Sans;
font-size: 15px;
font-weight: 600;
line-height: 21px;
text-align: left;
color: rgba(40, 199, 111, 1);

    }
    .block5_bottom_bottom
    {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-top: 24px;
    padding-bottom: 24px;
    }
    .block6_top p
    {
        font-family: Public Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(139, 144, 154, 1);
    
    }
    .block6_top
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content:center;
        align-items:center;
    }
    .block6_top img
    {
       width: 24px;
       height: 24px;
    }
    .block6
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block6_top span
{
    font-family: Public Sans;
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}
.block6_bottom
{
    position: relative;
    width: 358px;
height: 412px;


}
.sphere_big
{
    position: absolute;
    width: 204px;
height: 204px;
top: 63px;
left: 29px;
padding: 68px;

background: rgba(15, 96, 255, 1);
border-radius:50%;
}
.sphere_middle
{   position: absolute;
    width: 166px;
    height: 166px;
    top: 165px;
    left: 163px;
  
    padding: 50px;

    background: rgba(15, 183, 255, 1);

border-radius:50%;
}
.sphere_low
{position: absolute;
    width: 124px;
height: 124px;
top: 241px;
left: 69px;
background: rgba(30, 181, 100, 1);
border-radius:50%;
padding: 28px;
}
.block6_bottom span
{
    font-family: Public Sans;
font-size: 13px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: center;
color: rgba(255, 255, 255, 1);

}
.block6_bottom p
{
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    

}
.sphere{
    display: flex;
flex-direction: column;
justify-content: center;
align-content:center;
gap: 3px;
}


.block7_top p
{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(15, 96, 255, 1);
    

}
.block7_top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:center;
    align-items:center;
}
.block7
{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.block7_top span
{
font-family: Public Sans;
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.02em;
text-align: left;
color: rgba(35, 39, 46, 1);

}

.block7 .menu_tabl {
    background: rgba(248, 249, 250, 1);
    height: 48px;
  border-bottom: 1px solid rgba(219, 218, 222, 1);
  text-align: left;

  color: rgba(139, 144, 154, 1);
  font-family: Public Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.28px;
  min-width: 173px;
  
}
.block7 table
{
    width: 700px;
    height: 396px;
    
font-family: Public Sans;
font-size: 15px;
font-weight: 400;
line-height: 22px;
color: rgba(35, 39, 46, 1);
margin-top: 16px;
}
.block7 td
{
    text-align: left;
min-height: 54px;
}
.block7 th
{
    text-align: left;
min-height: 54px;
}
.first_table
{
    padding-left: 20px;
    color: rgba(15, 96, 255, 1);

font-family: Public Sans;
font-size: 15px;
font-weight: 400;
line-height: 22px;
text-align: left;

}
.last_table
{
    color: rgba(15, 96, 255, 1);

    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    
}
.first1
{
    padding-left: 20px;
}
.first_table_black
{
    font-family: Public Sans;
font-size: 15px;
font-weight: 700;
line-height: 21px;
text-align: left;
color: rgba(35, 39, 46, 1);

    padding-left: 60px;
}
.last_table_black
{
   
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: rgba(35, 39, 46, 1);

}
.table2
{
    margin-top: 24px !important
}