.todays-section{
    padding: 0px 135px;
}

.flash-sales-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}

.flash-sales-products__view-btn{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}