.this-month-section {
    padding: 0 135px 71px 135px;
}

.browse-by-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 0 140px 0;
}

.marketing {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;

}

.marketing-left {
    display: flex;
    flex-direction: column;
    padding-left: 56px;
    padding-top: 69px;
    padding: 69px 0 69px 56px;
}

.marketing-left-descr {
    color: rgb(0, 255, 102);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.marketing-left-title {
    color: rgb(250, 250, 250);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    max-width: 443px;
    width: 100%;
    padding-top: 32px;
}

.marketing-left-timer {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 32px;

}

.marketing-left-timer-block-value {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 14px 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 62px;
    width: 100%;
    max-height: 62px;
    height: 100%;
}

.marketing-timer-block-value {
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.marketing-timer-block-descr {
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.marketing-left-by-now {
    padding-top: 40px;
}

.marketing-left-by-now__btn {
    padding: 16px 48px;
    background: rgb(0, 255, 102);
    border-radius: 4px;
    border: 1px solid rgb(0, 255, 102);
    outline: none;
    color: rgb(250, 250, 250);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

.marketing-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

